In [1]:
import pandas as pd
import numpy as np

In [2]:
region = pd.read_csv("region.csv")

In [3]:
import math

In [4]:
math.nan

nan

In [12]:
region.columns

Index(['Index', 'School Name', 'Region', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

In [15]:
def mapper(x):
    if isinstance(x, str):
        if x == "NaN":
            return math.nan
        return float(x[1:].replace(",", ""))
    return x

In [16]:
for col in major.columns:
    if "Salary" in col:
        major[col] = major[col].map(mapper)

In [9]:
region_mean_agg = region.groupby("Region").agg({
    'Starting Median Salary': ['mean'],
    'Mid-Career Median Salary': ['mean'],
    
})

In [11]:
region_mean_agg.to_csv("region-mean.csv", index=True)

In [13]:
region

,Index,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,0,Stanford University,California,70400.0,129000.0,68400.0,93100.0,184000.0,257000.0
1,1,California Institute of Technology (CIT),California,75500.0,123000.0,NaN,104000.0,161000.0,NaN
2,2,Harvey Mudd College,California,71800.0,122000.0,NaN,96000.0,180000.0,NaN
3,3,"University of California, Berkeley",California,59900.0,112000.0,59500.0,81000.0,149000.0,201000.0
4,4,Occidental College,California,51900.0,105000.0,NaN,54800.0,157000.0,NaN
...,...,...,...,...,...,...,...,...,...
315,315,State University of New York (SUNY) at Potsdam,Northeastern,38000.0,70300.0,35100.0,51200.0,100000.0,179000.0
316,316,Niagara University,Northeastern,36900.0,69700.0,44000.0,57000.0,92000.0,128000.0
317,317,State University of New York (SUNY) at Fredonia,Northeastern,37800.0,66200.0,32800.0,44200.0,93300.0,181000.0
318,318,University of Southern Maine,Northeastern,39400.0,63600.0,40400.0,47900.0,85700.0,117000.0
319,319,Mercy College,Northeastern,43700.0,62600.0,35600.0,47300.0,99000.0,134000.0

In [18]:
major.to_csv("degree.csv")